.name{
    font-size: larger;
    color: black;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.adress{
    font-size: medium;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
*{
background-color: gray;
text-align: center;
}